<div class="filtrobox">
  <div class="row justify-content-md-center">
    <div class="col">
      <form>
        <div class="form-check form-switch  form-check-inline">
          
          <input class="form-check-input " type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <a href="/autor-livro" class="tituloiggy">
          <label class="form-check-label" for="inlineRadio1">Título</label></a>
        </div>
        <div class="form-check form-switch  form-check-inline">
          
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <a href="/autor-livro" class="tituloiggy">
          <label class="form-check-label" for="inlineRadio1">Autor</label></a>
        </div>
        <div class="form-check form-switch  form-check-inline">
          
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <a href="/ano" class="tituloiggy">
          <label class="form-check-label" for="inlineRadio1">Ano</label></a>
        </div>
        </form>
    </div>
  </div>
</div>

