<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #198754;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/estante">
      <img src="img/otter34.png" alt=""  height="30" class="d-inline-block align-text-top">
      Minha Estante
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/estante">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/livros">Livros</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="/meuperfil">Meu Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quemsomos2">Quem Somos?</a>
            </li>
           
            <li class="nav-item esquerda" >
              <a class="nav-link"  href="/logout">  <%=usuario.nome%>  (Sair) </a>
            </li>
      </ul>
    </div>
  </div>
</nav> 
