







<div class="pesquisabox">
  <div class="divbusca">
    <form class="testeform" action="/search" method="post">
      <input type="text" name="search" id="autocomplete_search" placeholder="procure aqui...">
      <span id="search_result"></span>
    </form>
    
      <button type="button" class="btn testebtn1">buscar</button>
     
      
    </div>
</div>
</div>











