<%- include ('./partials/header.ejs') %>

<%- include ('./partials/navbar.ejs') %>
  <body>

<br>
<br>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
<div class="boxpdf">
  <object
    data='/pdf/E-book_ Aulas imprescindíveis.pdf'
    type="application/pdf"
    width="500"
    height="678"
    display:flex;
    justify-content: center;>

    <iframe
      src='/pdf/E-book_ Aulas imprescindíveis.pdf'
      width="500"
      height="678"
      display:flex;
      justify-content: center;>
    <p>This browser does not support PDF!</p>
    </iframe>
  </object>
</div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


        
 


    

    <%- include ('./partials/footer.ejs') %>