<%- include ('./partials/header.ejs') %>
 <%- include ('./partials/navbar.ejs') %>


</br>
<br>
<br>


 <h2 class="centro"> Sobre a Estante Virtual </h1>
</br>
  <div class="fotocentro"><img src="img/livro.png" alt="fora de ar"></div>
</br>
  <h3 class="center"> Estante virtual é um projeto desenvolvido por alunos do curso tecnico de informatica para internet.</p>
</br>


<div class="container quemsomos">
<div class="row row-cols-1 row-cols-md-3 g-4" >
<div class="col">
  <div class="card">
  <div class="card-body" >
    <h3 class="card-title"> PRINCÍPIOS </h5>
    <p class="marina">Nossos princípios parte da ideia de um mundo onde as pessoas apreciem melhor a leitura.</p>
  </div>
</div></div>

<div class="col"><div class="card">
        <div class="card-body">
    <h3 class="card-title">PROJETO</h5>
    <p class="marina">Este projeto surgiu a partir de um tweet onde um jovem falava sobre o quão legal seria uma estante virtual.</p>
  </div>
</div></div>
<div class="col"><div class="card">
  <div class="card-body">
    <h3 class="card-title">OBJETIVOS</h5>
    <p class="marina">Nosso site tem como objetivo incentivar os jovens a adquirar o hábito da leitura.</p>
  </div>
</div></div>

</div></div>
</div>
</div>


<br>


 <%- include ('./partials/footer.ejs') %>